<div class="oj-hybrid-padding">
    <h1>Chart</h1>
    <div id='chart-container'>

        <oj-chart id="barChart"
                  type="bar" 
                  series="[[series]]"
                  groups="[[groups]]" 
                  animation-on-display="auto"
                  animation-on-data-change="auto"
                  hover-behavior="dim"
                  style="max-width:500px;width:100%;height:350px;">
        </oj-chart>
    </div>
</div>