<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h1>Customers Content Area</h1>
    <div class="oj-panel">

    </div>
</div>