<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h1>Dashboard Content Area</h1>
    <div>
        To change the content of this section, you will make edits to the dashboard.html file located in the /js/views folder.
<br/>
    </div>
</div>